body {
  font-family: "Lobster", cursive;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Yeseva One", cursive;
}
section {
  padding-bottom: 50px;
}
h1 {
  font-size: 60px;
  border-left: 5px solid darkturquoise;
  border-top: 10px;
  padding-left: 1%;
}
h3 {
  font-size: 36px;
}
.banner-area {
  display: flex;
  margin: 0 100px;
}
.specific-title {
  color: darkturquoise;
}
.specific-btn {
  text-decoration: none;
  background-color: darkturquoise;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
}
.banner-content,
.banner-image,
.develop-image,
.develop-content,
.global-content,
.global-image {
  width: 50%;
  margin: 0 1%;
}
.banner-content p,
.single-mission p,
.develop-content p,
.global-content p {
  text-align: justify;
  padding: 1% 0;
}
.banner-image img {
  width: 80%;
  margin-left: 20%;
}

.mission-content h2 {
  text-align: center;
  font-size: 48px;
}
.mission-more {
  display: flex;
  margin-left: 2%;
  margin: 0 100px;
}
.single-mission {
  width: 360px;
  height: 376px;
  margin-left: 1%;
  padding: 1%;
  border-radius: 10px;
}
.single-mission-seagreen {
  background-color: #4f9da61a;
}
.single-mission-salmon {
  background-color: #ff59591a;
}
.single-mission-tomato {
  background-color: #fff4d6;
}
.single-mission-image {
  width: 140px;
  height: 140px;
}
.develop-area,
.global-area {
  display: flex;
  margin: 0 100px;
}
.develop-image {
  background-image: url(images/develop-shape.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.global-image {
  background-image: url(images/global-shape.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.develop-image img,
.global-image img {
  width: 400px;
  height: 400px;
}

footer{
  color: white;
  background: #0B0D17;
  text-align: center;
  padding: 2% 0;

}
